.wrapper {

    button{
        background: white;
        color:  green;
        font-size: 25px;
        border: none;
        float: right;
        padding: 10px;

        &:hover{
            cursor: pointer;
        }
    }
    
}
