.wrapper {

    button{
        width: 25px;
        background: white;
        color:  green;
        font-size: 25px;
        border: none;
        float: right;

        &:hover{
            cursor: pointer;
        }
    }
    
}
