.layout {
  background-color: purple;
  display: flex;
  padding: 0;
  justify-content: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.logo {
  width: 30vw;
  height: auto;
  max-height: 80px;

  @media only screen and (min-width: 1000px) {
    margin-left: -40px;
  }
}

.linkWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-grow: 1;

  & > a:not(:last-child) {
    margin-right: 30px;
  }
}

.flagWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;

  & > a:first-child {
    margin-right: 20px;
  }
}
