.layout {
  background-color: #edecf4;
  display: flex;
  padding: 0;
  justify-content: center;
}

.navbarWrapper {
  border-bottom: 5px solid #321092;
  padding-bottom: 20px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.logo {
  width: 30vw;
  height: auto;
  max-height: 80px;

  @media only screen and (min-width: 1000px) {
    margin-left: -40px;
  }
}

.flagWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;

  & > a:first-child {
    margin-right: 20px;
  }
}
