.layout {
  background-color: purple;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;

  & > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    flex-grow: 1;
  }
}
